.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project h1 {
    margin-top: 50px;
    color: #555e57;
    font-size: 35px;
  }
  .project img {
    width: 700px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .project p {
    font-size: 20px;
    color: #555e57;
  }
  
  .project svg { 
    font-size: 60px;
    color: #555e57;
    cursor: pointer;
  }
  .project h3{
    color:#555e57
  }
  